.a{
    font-size: 50px;
    background-color: orange;
}

.b{
    font-size: 20px;
    background-color: orange;
    
}


.c{
    font-size: 20px;
    background-color: orange;
    color: white;
}





.authentication{
    padding: 200px;
    margin: auto;

}

.authentication img{
    width: 60%;
    height:60%;
    position: relative;
    right: 400px;
    border-radius: 30px;
    padding: auto;


}

.Disclaimer{
    background-color: rgb(206, 147, 37);
    margin:auto;

}


.kiosk{
    font-size: 20px;
    position: relative;
    left: 470px;
    bottom: 400px;
}